<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="login-title">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="trigram-input">Trigramme</label>
                        <input type="text" class="form-control" id="trigram-input" />
                    </div>

                    <div class="form-group">
                        <label for="password-input">Mot de passe</label>
                        <input type="password" class="form-control" id="password-input" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success">Se Connecter</button>
            </div>
        </div>
    </div>
</div>