{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Bienvenue sur votre profil {{ user.username }} !</h1>
            </div>
        </div>

        <br /><br />

        <div class="row">
            <div class="col-12 text-left">
                <h2>Topics que vous avez aimé :</h2>

                <div class="list-group">
                    {% for topic in liked_topics %}
                        <a href="/topic/{{ topic.id }}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ topic.name }}</h5>
                                <span class="badge badge-success badge-pill">{{ topic.likes_count }} j'aime.</span>
                            </div>
                            <p class="mt-2 mb-2">{{ topic.description }}</p>
                            <small>Il y a {{ topic.get_time_ago }}, par {{ topic.created_by.username }}.</small>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}